html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--gray-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.m-auto {
  margin: auto;
}

.d-grid {
  display: grid;
}

.container {
  width: 1200px;
  margin: auto;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button,
input[type='submit'] {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
input[type='submit']:hover {
  background-color: var(--seconday-color);
}

:root {
  --primary-color: #7e29a3;
  --seconday-color: #60177f;
  --link-color: #489efc;
  --light-color: #f4f4f4;
  --gray-color: #e8e3e31a;
  --danger-color: #271819;
  --success-color: #28a745;
}
