.wrapper {
  display: flex;
}

.loginBgImage {
  background-image: url(../public/uploads/sampleimage.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 58.3%;
  align-items: flex-end;
  display: grid;
}

.loginBgImage a,
.loginBgImage h2 {
  position: absolute;
  color: #fff;
}

.loginBgImage a {
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
}

.loginBgImage h2 {
  left: 2rem;
}

.bgBlack {
  background-color: black;
  height: 100vh;
  opacity: 0.4;
}
