.wrapper {
  display: flex;
}

.wrapper form h2 {
  text-align: center;
}

.fb40 {
  flex-basis: 40%;
  padding: 2rem;
  margin: auto;
}

.loginBgImage {
  background-image: url(../public/uploads/sampleimage.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 60%;
  align-items: flex-end;
  display: grid;
}

.loginBgImage a,
.loginBgImage h2 {
  position: absolute;
  color: #fff;
}

.loginBgImage a {
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
}

.loginBgImage h2 {
  left: 2rem;
}

.bgBlack {
  background-color: black;
  height: 100vh;
  opacity: 0.4;
}

.loginInput {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 9999px;
  border-color: black;
}
